<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
    "http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd" 
       xmlns:context="http://www.springframework.org/schema/context"
       default-init-method="myInit" default-destroy-method="cleanUp" xmlns:aop="http://www.springframework.org/schema/aop">    
    <context:annotation-config/>
    <context:component-scan base-package="com.spring.jdbc.demo"/>
    
    <!--this will automatically make the properties file seen by this xml-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="database.properties"/>
    </bean>
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${MYSQL.DRIVER}"/>
        <property name="url" value="${MYSQL.URL}"/>
        <property name="username" value="${MYSQL.USER}"/>
        <property name="password" value="${MYSQL.PSW}"/>
    </bean> 
    
    
</beans>
